:root {
  --text-primary: #f8fafc;
  --text-secondary: #c3cad6;
  --text-muted: #8d96a7;

  --bg-primary: #0e141b;
  --bg-secondary: #141c24;
  --bg-button-hover: #181f29;

  --border: #1e2736;
  --input: #1e2736;
  --ring: #38bdf8;

  --danger-light: #fca5a5;
  --danger-medium: #f87171;
  --danger-dark: #b91c1c;
  --warning-light: #fde047;
  --success-light: #86efac;
  --success-medium: #4ade80;

  --bg-primary-rgb: 14, 20, 27;
  --bg-secondary-rgb: 20, 28, 36;
  --gradient-start-rgb: 56, 189, 248;
  --gradient-end-rgb: 16, 185, 129;
  --danger-medium-rgb: 239, 68, 68;
  --danger-dark-rgb: 220, 38, 38;
  --warning-medium-rgb: 234, 179, 8;
  --success-medium-rgb: 34, 197, 94;
  --success-dark-rgb: 34, 197, 94;
  --black-rgb: 0, 0, 0;

  --icon-xs: 1.2rem;
  --icon-sm: 1.4rem;
  --icon-md: 1.6rem;
  --icon-lg: 2rem;
  --icon-xl: 2.4rem;
  --icon-2xl: 3.2rem;

  --radius-sm: 0.8rem;
  --radius-md: 1.2rem;
  --radius-lg: 1.4rem;
  --radius-full: 9999px;

  --space-xxs: 0.4rem;
  --space-xs: 0.8rem;
  --space-sm: 1.2rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-xxl: 4.8rem;

  --font-xxs: 1rem;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-lg: 1.8rem;
  --font-xl: 2rem;
}

body,
html,
.app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  line-height: 1.5;
  background-color: var(--bg-primary);
}

.app-container {
  overflow-y: auto;
}

*::-webkit-scrollbar {
  display: none;
}

body.loading {
  visibility: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
  border: none;
}

input:focus,
textarea:focus,
select:focus,
.search-wrapper:focus-within {
  outline: none;
  border-color: var(--ring);
  box-shadow: 0 0 0 0.2rem rgba(var(--gradient-start-rgb), 0.3);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-muted);
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.text-gradient {
  background: linear-gradient(
    to right,
    rgb(var(--gradient-start-rgb)),
    rgb(var(--gradient-end-rgb))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  box-shadow: 0 0 0.8rem rgba(var(--gradient-start-rgb), 0.5);
}
