.main {
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
}

.main-title {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin-top: var(--space-lg);
}

.main-title h2 {
  font-size: var(--font-lg);
  font-weight: 600;
}

.badge {
  display: grid;
  place-items: center;
  font-size: 80%;
  color: rgb(var(--gradient-start-rgb));
  width: 2rem;
  height: 2rem;
  font-weight: 500;
  border-radius: var(--radius-full);
  border: 1px solid rgba(var(--gradient-start-rgb), 0.3);
  background-color: rgba(var(--gradient-start-rgb), 0.2);
}
