input:focus,
textarea:focus,
select:focus,
.search-wrapper:focus-within {
  outline: none;
  border-color: var(--ring);
  box-shadow: 0 0 0 0.2rem rgba(var(--gradient-start-rgb), 0.3);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-muted);
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-gradient {
  background: linear-gradient(
    to right,
    rgb(var(--gradient-start-rgb)),
    rgb(var(--gradient-end-rgb))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  border: 1px solid rgba(var(--gradient-start-rgb), 0.3);
  min-width: 1.5rem;
  min-height: 1.5rem;
  color: rgba(var(--gradient-start-rgb), 1);
  font-weight: 500;
  padding: 0.6rem;
  border-radius: var(--radius-full);
  aspect-ratio: 1 / 1;
  background: rgba(var(--gradient-start-rgb), 0.3);
}
