:root {
  --text-primary: #f8fafc;
  --text-secondary: #c3cad6;
  --text-muted: #8d96a7;

  --bg-primary: #0e141b;
  --bg-secondary: #141c24;
  --bg-button-hover: #181f29;

  --border: #1e2736;
  --input: #1e2736;
  --ring: #38bdf8;

  --danger-light: #fca5a5;
  --danger-medium: #f87171;
  --danger-dark: #b91c1c;
  --warning-light: #fde047;
  --success-light: #86efac;
  --success-medium: #4ade80;

  --bg-primary-rgb: 14, 20, 27;
  --bg-secondary-rgb: 20, 28, 36;
  --gradient-start-rgb: 56, 189, 248;
  --gradient-end-rgb: 16, 185, 129;
  --danger-medium-rgb: 239, 68, 68;
  --danger-dark-rgb: 220, 38, 38;
  --warning-medium-rgb: 234, 179, 8;
  --success-medium-rgb: 34, 197, 94;
  --success-dark-rgb: 34, 197, 94;
  --black-rgb: 0, 0, 0;

  --icon-xs: 1.2rem;
  --icon-sm: 1.4rem;
  --icon-md: 1.6rem;
  --icon-lg: 2rem;
  --icon-xl: 2.4rem;
  --icon-2xl: 3.2rem;

  --radius-sm: 0.8rem;
  --radius-md: 1.2rem;
  --radius-lg: 1.4rem;
  --radius-full: 9999px;

  --space-xxs: 0.4rem;
  --space-xs: 0.8rem;
  --space-sm: 1.2rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-xxl: 4.8rem;

  --font-xxs: 1rem;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-lg: 1.8rem;
  --font-xl: 2rem;
}
